#root {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #ffffff;
  align-items: flex-start;
  font-family: "Orbit", sans-serif;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  width:80vh;
}
body {
  margin:0;
  padding:0;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}
